.calculator{
  display: flex;

}
.calculator > input {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
select {
  width: 100px;
}
input[type="number"]{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

button {
  flex-wrap: wrap;
}
